* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* typography */
body {
    font-family: Helvetica, "Arial", sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: #000;
    background: #ffffff;
    height: auto;
}

/* about */
.main {
    padding: 16px;
    height: 100%;
    display: flex;
}

/* profile pic */
.main img {
    width: 30vmin;
    height: 40vmin; 
}

/* contacts */
.contacts {
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
}

/* contacts images */
.contacts img {
    width: 28px;
    margin-right: 20px;
}

/* cv layout */
.cvheading {
    font-size: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* cv layout */
.cv {
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
    margin-left: 28px;
}


/* text */
.text {
    width: 100%;
    height: 100%;
    margin-left: 1em;
}

/* text spacing */
.text p {
    margin-bottom: .8em;
}

/* links */
a {
    color: #6b208a;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* navbar */
.navbar {
    border-bottom: 0.3vh solid #3c3c3c;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2vh;
    background-color: #3c3c3c;
}

.navbar a {
    display: flex;
    color: #bebebe;
    height: 60px;
    width: 120px;
    align-items: center;
    justify-content: center;
}

.navbar a:hover {
    background-color: #4f4f4f;
    color: #bebebe;
}

.navbar a.active {
    background-color: #4f4f4f;
    color: #ffffff;
    font-weight: bold;
}


/* Footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #D8D8D8;
    color: #F5F5F5;
    display: flex;
    justify-content:center;
    align-items:center;
    font-weight: 100;
    font-size: larger;
}

/* mobile */
@media screen and (max-width: 800px) {
    .main {
        width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
        flex-direction: column;
    }

    .text {
        width: 100%;
        height: 100%;
        margin-left: 0;
        margin-top: 16px;
    }

    .main img {
        margin: auto;
        min-width: 300px;
    }
    
    .navbar {
        border-bottom: 0.3vh solid #3c3c3c;
        list-style: none;
        display: flex;
        justify-content: center;  
        gap: 0;
        background-color: #3c3c3c;
    }
}
