body {

    margin: 0;
    padding: 20px;

    font-family: Arial, sans-serif;

    color: #1f2937;
}

header {

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 20px;
}

nav a {

    text-decoration: none;

    margin-left: 10px;

    border: 1px solid #77AD78;

    color: #427d58;

    padding: 8px 16px;

    border-radius: 999px;
}

.controls {

    display: grid;

    grid-template-columns:
        1fr
        1.2fr
        1.5fr;

    gap: 15px;

    border: 1px solid #ddd;

    border-radius: 16px;

    padding: 16px;
}

.control-block {

    display: flex;
    flex-direction: column;
}

.control-block label {

    margin-bottom: 10px;

    font-weight: 600;
}

#amount {

    padding: 10px;

    font-size: 18px;

    border: 1px solid #ccc;

    border-radius: 10px;
}

#bankSearch {

    padding: 10px;

    border-radius: 10px;

    border: 1px solid #ccc;

    margin-bottom: 10px;
}

#bankSelector {

    width: 100%;

    border-radius: 10px;

    border: 1px solid #ccc;

    min-height: 180px;
}

.periods {

    display: flex;

    flex-wrap: wrap;

    gap: 12px;
}

.chart-card {

    margin-top: 20px;

    border: 1px solid #ddd;

    border-radius: 18px;

    padding: 20px;

    height: 600px;
}

.update-date {

    text-align: center;

    margin-top: 20px;

    color: #6F8F72;
}

footer {

    text-align: center;

    margin-top: 20px;
}

#selectedBanks {

    margin-bottom: 10px;
}

.chip {

    display: inline-block;

    background: #8FD694;

    padding: 4px 10px;

    border-radius: 12px;

    margin-right: 5px;

    margin-bottom: 5px;
}