/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Typography */
body {
    font-family: Helvetica, "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #000;
    background: #ffffff;
    border: 2px solid #F5F5F5;
    height: auto;
    margin: 20px 20px 20px 20px;
}


/* Page layout */
.page {
    max-width: 960px;
    margin: 40px auto;
    display: flex;
}

/* Main content */
.content {
    width: 720px;
}

/* Title */
.content h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

/* About layout */
.about {
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
}

/* Profile image */
.about img {
    width: 200px;
    margin-right: 20px;
}

/* Contacts layout */
.contacts {
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
}

/* Profile image */
.contacts img {
    width: 28px;
    margin-right: 20px;
}

/* cv layout */
.cvheading {
    font-size: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* cv layout */
.cv {
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
    margin-left: 28px;
}

/* Text spacing */
.text p {
    margin-bottom: 15px;
}

/* Links */
a {
    color: #1a4fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Sidebar */
.sidebar {
    width: 200px;
    margin-left: 60px;
}

/* Name */
.sidebar h1 {
    font-size: 22px;
    margin-bottom: 20px;
    height: 60px
}

/* Menu */
.sidebar nav a {
    display: block;
    margin-bottom: 12px;
    color: #000;
}

/* Active page */
.sidebar nav a.active {
    font-weight: bold;
}

/* Footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #D8D8D8;
  color: #F5F5F5;
  display: flex;
  justify-content:center;
  align-items:center;
  font-weight: 100;
  font-size: larger;
}

/* Mobile */
@media (max-width: 900px) {
    .page {
        flex-direction: column;
    }

    .sidebar {
        margin-left: 0;
        margin-top: 40px;
    }

    .about {
        flex-direction: column;
    }

    .about img {
        margin-bottom: 20px;
    }
}