* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* typography */
body {
    font-family: Helvetica, "Arial", sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: #000;
    background: #ffffff;
    height: auto;
}

/* about */
.main {
    padding: 16px;
    padding-left: 150px;
    padding-right: 150px;
    height: 100%;
    display: flex;
}

/* profile pic */
.main img {
    width: 30vmin;
    height: 40vmin;
    margin-right: 1em;
}

/* contacts */
.main_contacts {
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    height: 100%;
    display: block;
    text-align: center;
}

.main_contacts_text p {
    margin-bottom: em;
}

/* contacts images */
.contacts img {
    width: auto;
    margin-top: 2em;
}

/* cv layout */
.cvheading {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    border-bottom: #3c3c3c solid 0.12em;
}

/* cv layout */
.cv {
    align-items: flex-start;
    margin-top: 10px;
    margin-left: 28px;
    display : block;
}

.main_cv {
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
    height: 100%;
    display: block;
}

/* text */
.text {
    width: 100%;
    height: 100%;
}

/* text spacing */
.text p {
    margin-bottom: .8em;
}

/* links */
a {
    color: #5c5c5c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* navbar */
.navbar {
    border-bottom: 0.3vh solid #3c3c3c;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2vh;
    background-color: #3c3c3c;
}

.navbar a {
    display: flex;
    color: #bebebe;
    height: 60px;
    width: 120px;
    align-items: center;
    justify-content: center;
}

.navbar a:hover {
    background-color: #4f4f4f;
    color: #ffffff;
    text-decoration: none;
}

.navbar a.active {
    background-color: #4f4f4f;
    color: #ffffff;
    font-weight: bold;
}


/* Footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #D8D8D8;
    color: #F5F5F5;
    display: flex;
    justify-content:center;
    align-items:center;
    font-weight: 100;
    font-size: 20px;
}




/* mobile */
@media screen and (min-width: 300px) {
    .main {
        width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;

    }

    .main_cv {
        padding: 20px;
        padding-left: 25px;
        padding-right: 25px;
        height: 100%;
        display: block;
    }
    
    .text {
        width: 100%;
        height: 100%;
        margin-left: 0;
        margin-top: 16px;
    }

    .main img {
        margin: auto;
        min-width: 300px;
    }
    
    .navbar {
        border-bottom: 0.3vh solid #3c3c3c;
        list-style: none;
        display: flex;
        justify-content: center;  
        gap: 0;
        background-color: #3c3c3c;
    }
    
    .footer {
    height: 40px;
    font-size: 18px;
}
}

/* big mobile, tablet */
@media screen and (min-width: 600px) {
    .main {
        width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;

    }

    .main_cv {
        padding: 20px;
        padding-left: 100px;
        padding-right: 100px;
        height: 100%;
        display: block;
    }
    
    .text {
        width: 100%;
        height: 100%;
        margin-left: 0;
        margin-top: 16px;
        padding-left: 100px;
        padding-right: 100px;
    }

    .main img {
        margin: auto;
        min-width: 300px;
    }
    
    .navbar {
        border-bottom: 0.3vh solid #3c3c3c;
        list-style: none;
        display: flex;
        justify-content: center;  
        gap: 0;
        background-color: #3c3c3c;
    }
    
    .footer {
    height: 40px;
    font-size: 18px;
}
}

/* laptop, desktop */
@media screen and (min-width: 1000px) {
    .main {
        width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
        flex-direction: row;
        padding-left: 15em;
        padding-right: 15em;
    }

    .main img {
        margin: auto;
        min-width: 300px;
    }
    
    .text {
        width: 100%;
        height: 100%;
        margin-left: 1.5em;
        margin-top: 0;
        padding-left: 0;
        padding-right: 0;
    }
    
    .main_cv {
        padding: 20px;
        padding-left: 15em;
        padding-right: 15em;
        height: 100%;
        display: block;
    }
}